.time {
    background-color: black !important;
    color: greenyellow; 
    border-radius: 25px;

    font-size: 5vw;
    text-align: center;
    padding: 5vw !important;
}

.date {
    font-size:12px;
    color: white;
    padding: 1vw;
}